---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import TrustBadges from '../components/TrustBadges.astro';
import Keuntungan from '../components/Keuntungan.astro';
import Brands from '../components/Brands.astro';
import Produk from '../components/Produk.astro';
import LaptopTerbaru from '../components/LaptopTerbaru.astro';
import ProdukLainnya from '../components/ProdukLainnya.astro';
import Tips from '../components/Tips.astro';
import Testimoni from '../components/Testimoni.astro';
import Layanan from '../components/Layanan.astro';
import FAQ from '../components/FAQ.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Header />
	<main>
		<Hero />
		<TrustBadges />
		<Keuntungan />
		<Brands />
		<Produk />
		<LaptopTerbaru />
		<ProdukLainnya />
		<Tips />
		<Testimoni />
		<Layanan />
		<FAQ />
		<CTA />
	</main>
	<Footer />
</Layout>
